@media screen and (max-width: 680px) and (min-width: 451px) {

    #home {
        padding-top: 5%;
    }

    #botoesContato {
        margin-left: auto;
        margin-right: auto;

    }

    #containerAltera {
        display: flex;
        gap: 10px;
    }

    #botoesNav {
        margin-left: auto;
        margin-right: auto;
    }

    #back1 {
        display: none;
    }

    #back3 {
        display: none;
    }

    #areaSobreInt {
        display: block !important;
    }

    #areaSobre {
        // margin-top: 20%;

        #botoesSobre {
            width: 100%;
            height: 15%;
            flex-direction: column !important;

            #areaBotoes {
                flex-direction: row !important;

            }
        }

        #fotoSobre {
            margin-bottom: 40% !important;
            width: 100%;
        }

        #textoSobre {
            padding-top: 0 !important;
            width: 100%;
        }

    }

    #cards {
        flex-direction: column !important;

    }

}

@media screen and (max-width: 1100px) and (min-width: 680px) {

    #home {
        padding-top: 5%;
    }

    #botoesContato {
        margin-left: auto;
        margin-right: auto;

    }

    #containerAltera {
        display: flex;
        gap: 10px;
    }

    #botoesNav {
        margin-left: auto;
        margin-right: auto;
    }

    #back1 {
        display: none;
    }

    #back3 {
        display: none;
    }

    #areaSobreInt {
        display: block !important;
    }

    #areaSobre {

        #botoesSobre {
            width: 100%;
            height: 15%;
            flex-direction: row !important;

            #areaBotoes {
                flex-direction: row !important;

            }
        }

        #fotoSobre {
            margin-bottom: 40% !important;
            width: 100%;
        }

        #textoSobre {
            padding-top: 0 !important;
            width: 100%;
        }

    }

}

@media screen and (min-width: 1100px) {
    #back2 {
        display: none;
    }

    #back3 {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    #home {
        padding-top: 20%;
    }

    #botoesContato {
        margin-left: auto;
        margin-right: auto;

    }

    #containerAltera {
        display: flex;
        gap: 10px;
    }

    #botoesNav {
        margin-left: auto;
        margin-right: auto;
    }

    #back2 {
        display: none;
    }

    #back1 {
        display: none;
    }

    #caixaTextoHome {
        h3 {
            font-size: 3vw !important;
        }

        h1 {
            font-size: 7vw !important;
        }

        h2 {
            font-size: 3.5vw !important;
        }
    }

    #setaTudo {
        font-size: 15px;
    }


    #areaSobreInt {
        display: block !important;
    }

    #areaSobre {


        #botoesSobre {
            width: 100%;
            height: 20%;
            // flex-direction: column !important;
            flex-wrap: wrap;

            #areaBotoes {
                // flex-direction: column !important;
                flex-wrap: wrap;
                gap: 1.5em !important;

            }
        }

        #fotoSobre {
            margin-bottom: 50% !important;
            width: 100%;
        }

        #textoSobre {
            padding-top: 0 !important;
            width: 100%;

            h2 {
                font-size: 60px;
            }
        }

    }

    // #caixaTextoHome{
    //     bottom: 100%;
    //     right: 50%;
    //     height: 15%;
    //     border-radius: 0 20px 20px 0;
    //     background-color: $cor3;
    // }

    #cards {
        flex-direction: column !important;

    }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:9:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}
.slide-in-blurred-left-2 {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:12:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.flicker-in-1 {
    -webkit-animation: flicker-in-1 3s linear 1s both;
    animation: flicker-in-1 3s linear 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:24:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  .bounce-in-top {
	-webkit-animation: bounce-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: bounce-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}  

/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:51:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  .scale-in-center {
	-webkit-animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}  

/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 13:30:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  .slide-in-blurred-top-2 {
	-webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3 1s both ;
	        animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3 1s both ;
}  
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:37:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
              transform: translateY(-600px) rotateX(30deg) scale(6.5);
      -webkit-transform-origin: 50% 200%;
              transform-origin: 50% 200%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -500px;
              transform-origin: 50% -500px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(-600px) rotateX(30deg) scale(6.5);
              transform: translateY(-600px) rotateX(30deg) scale(6.5);
      -webkit-transform-origin: 50% 200%;
              transform-origin: 50% 200%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -500px;
              transform-origin: 50% -500px;
      opacity: 1;
    }
  }
  
  .slide-in-elliptic-top-bck {
	-webkit-animation: slide-in-elliptic-top-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-in-elliptic-top-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 13:57:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-tl
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-tl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px #555555, -2px -2px #555555, -3px -3px #555555, -4px -4px #555555, -5px -5px #555555, -6px -6px #555555, -7px -7px #555555, -8px -8px #555555;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes text-shadow-pop-tl {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px #555555, -2px -2px #555555, -3px -3px #555555, -4px -4px #555555, -5px -5px #555555, -6px -6px #555555, -7px -7px #555555, -8px -8px #555555;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  .text-shadow-pop-tl {
	-webkit-animation: text-shadow-pop-tl 1.2s 1s infinite alternate both;
	        animation: text-shadow-pop-tl 1.2s 1s infinite alternate both;
}  
/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 0:41:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  .slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}  


/* ----------------------------------------------
 * Generated by Animista on 2023-2-24 1:8:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  .slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}  

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background: #f3e81a;

}

::-webkit-scrollbar-thumb:hover {
    background: #f5ef7b;
}

$cor1: #f3e81a;
$cor2: rgb(102, 96, 96);
$cor3: #2f2f2f;
$cor4: #121212;

* {
    font-family: 'Josefin Sans', sans-serif;

}

img {
    transition: all 0.7s;
}


body {
    background-color: $cor1;
    z-index: 2;
}

#home {
    transition: all 0.5s;


}

.botao {
    font-weight: 650;
    background-color: $cor1;
    color: $cor3;
    transition: all 0.5s;
    text-decoration: none;
    border-radius: 30px;

    &:hover {
        color: $cor1;
        background-color: $cor4;
    }
}

#logo {
    transition: all 1.3s;

    &:hover {
        transform: scale(1.2);

        h2 {
            color: $cor1;
        }

        span {
            color: $cor3;
        }
    }
}

nav {
    transition: all 0.4s;
    background-color: #B1B2B2;

    a {
        background-color: #B1B2B2 !important;
        border: none !important;

    }

    .active {
        color: $cor1 !important;
        text-decoration: underline !important;
    }

    .redeNav {
        background-color: $cor1 !important;

        &:hover {
            background-color: $cor4 !important;
        }
    }
}

div {
    h2 {
        color: $cor3;
    }

    span {
        color: $cor1;
    }

    a {
        color: $cor3;
        transition: all 0.4s;

        &:hover {
            color: $cor1;
        }
    }
}

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: $cor1; }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
.typed-out{
    overflow: hidden;
    border-right: .15em solid $cor1;
    white-space: nowrap;
    font-size: 2.5rem;
    width: 0;
    animation: 
        typing 1s steps(20, end) 2s forwards, 
        blink .7s infinite;
}


#caixaSeta {
    top: 90%;
    font-size: 4vh;

    color: $cor3;

    &:hover {
        color: $cor4;
    }
}

#setaTudo{
    color: $cor1;
}

#caixaTextoHome {
    top: 33%;
    right: 50%;
    height: 35%;
    border-radius: 0 30px 30px 0;
    background-color: $cor2;
    opacity: 0.97;




    h1 {
        font-weight: 800;
        font-size: 6vw;
        color: $cor4;
    }

    h2 {
        font-size: 2.5vw;
        color: $cor1;
    }

    h3 {
        font-size: 2vw;
        color: $cor4;
    }
}

#areaSobre {
    transition: all 1s ease-in-out;
    height: 90vh;
    background-color: $cor1;
}

#botoesSobre {
    background: none;
    width: 15%;
    height: 100%;

    button {
        background: none;
        font-size: 40px;
        border-radius: 20px;
        border: #121212 3px solid;
        transition: all 0.4s;

        &:hover {
            transform: scale(1.1);
            background-color: $cor2;
            border: $cor2 3px solid;

            i {
                color: $cor4;
                color: $cor1 !important;
            }
        }
    }

    .active {
        color: $cor1 !important;
        transform: scale(1.2);
        background-color: $cor4 !important;
        border: $cor4 3px solid !important;
    }
}

#fotoSobre {
    width: 40%;
}

#textoSobre {
    width: 45%;

    h2 {
        // text-align: center;
        font-size: 75px;
    }

    h5 {

        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    span {
        padding: 4px;
        background-color: $cor3;
    }
}

#setaSobre{
    color: $cor3 !important;
}
#setaTudoSobre{
    font-size: 20px;
    &:hover{
        color: $cor4 !important;
    }
}
#caixaSetaSobre{
    height: 17% !important;
}

#projetos {
    transition: all 1s ease-in-out;

    h2 {
        font-size: 65px;
        color: $cor1;
        text-align: center;
    }
}

.botaoProjetos {
    font-size: medium;
    padding: 15px;
    border-radius: 30px;
    color: $cor1;
    background-color: $cor3;
    border: none;

    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);
        // border: 2px solid $cor3;
        background-color: $cor2;
        color: $cor1;
    }
}

.card,
.card-header,
.card-footer,
.card-body {
    background-color: $cor1 !important;
    color: $cor3;
}

#footer {
    transition: all 1s ease-in-out;
    text-align: center;
}

.redesSociais {
    font-size: 30px;
    transition: all 0.4s;

    a {
        color: $cor1;
        border-radius: 50%;
        background-color: #121212;
        padding: 10px 17px 4px 17px;

        &:hover {
            background-color: $cor1;
            color: $cor4;
            transform: scale(1.5);
        }
    }
}

#end {
    margin-bottom: 75px;
}

#tituloTech{
    font-size: 40px;
}

#techs {
    transition: all 1s ease-in-out;
    background-color: $cor4;

    h2 {
        text-align: center;
        color: $cor1;
    }
}


.caixaTechs {
    a {
        color: $cor1;
        text-decoration: none;
        font-size: 50px;
        transition: all 0.4s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.card {
    width: 100%;
}

#instaTexto {
    padding: 5px;

    &:hover {
        background-color: $cor4;
    }
}

